page-learning {
  ion-header {
    background: none;

    ion-navbar {
      &:after {
        background: none;
      }
    }
  }

  ion-content {
    background: none;

    .scroll-content {
      display: flex;
    }
  }
}

.learning {
  $color-white: #fff;
  $color-black: rgb(239, 241, 241);

  flex-grow: 1;
  max-width: 70rem;

  &-card {
    display: block;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;

    &-item {
      height: 300px;
      backface-visibility: hidden;
      border-radius: 1rem;
      font-size: 3.2rem;
      // transform: translate3d(0,0,0);
      // filter: blur(0);
      // opacity: 1;

      &-front,
      &-back {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: left;
        padding: 2rem;
        background: linear-gradient(
                        to bottom,
                        $color-white,
                        $color-white 95%,
                        $color-white 5%,
                        $color-black) !important;
        background-size: 100% 3rem !important;
        box-shadow: 0 0 3rem rgba(0,0,0,0.2);
        transition: 0.6s cubic-bezier(.63,1.45,.64,.98) transform;
        // transition: 0.6s cubic-bezier(1,.26,.52,1.81) transform;
        // transition: 0.6s cubic-bezier(.17,.67,.67,1.21) transform;
        // transition: 0.6s cubic-bezier(.44,1,.7,1) transform;

        &.--small {
          font-size: 80%;
        }

        &.--smaller {
          font-size: 60%;
        }

        &.--smallest {
          font-size: 40%;
        }

        &.--smallestest {
          font-size: 30%;
        }

        ul,
        ol {
          margin: 0;
          padding-left: 1rem;

          li {
            ul {
              margin-top: 0.4rem;
            }
          }
        }
      }

      &-front {
        transform: rotateY(0deg);
        backface-visibility: hidden;
      }
      &-back {
        transform: rotateY(-180deg);
        backface-visibility: hidden;
      }

      &.--flipped &-front {
        transform: rotateY(180deg);
      }

      &.--flipped &-back {
        transform: rotateY(0deg);
      }
    }
  }

  &-stats {
    font-size: 16%;
  }
}
