<ion-header>

  <ion-navbar>
    <ion-title>{{category.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="learning" *ngIf="category.cards?.length > 0">
    <div class="learning-card" *ngIf="getCurrent()" >
      <div class="learning-card-item" [ngClass]="{'--flipped': flipped}" [@card]="cardState" (click)="flipped=!flipped">
        <div class="learning-card-item-front">
          {{getCurrent().front}}
        </div>
        <div class="learning-card-item-back">
          {{getCurrent().back}}
        </div>
      </div>
    </div>
    <div class="learning-actions">
      <button ion-button icon-start color="danger" (click)="next(false)">Falsch</button>
      <button ion-button icon-end color="primary" (click)="next(true)">Richtig</button>
    </div>
  </div>
  <ion-title *ngIf="category.cards?.length === 0">
    <h3>Du hast es geschafft</h3>
    <p>{{run.correct}} von {{run.total}} richtig</p>
  </ion-title>
</ion-content>
