<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lernkategorien</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addCategory()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">

  <ion-list *ngIf="categories?.length > 0" padding-top>
    <!-- <ion-list-header>
      Meine Kategorien
    </ion-list-header> -->
    <ion-item *ngFor="let category of categories">
      <ion-label (click)="categorySelected($event, category.id)">
        {{category.name}}
      </ion-label>
      <button ion-button outline item-end color="dark" (click)="editCategory($event, category)">Bearbeiten</button>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="categories?.length === 0">
    <!-- <ion-list-header>
      Meine Kategorien
    </ion-list-header> -->
    <ion-item>
      <p>
        Bisher wurden noch keine Kategorien hinzugefügt. Erstelle jetzt eine Kategorie: <a (click)="addCategory()">Kategorie erstellen</a>
      </p>
    </ion-item>
  </ion-list>
  <ion-list padding-top *ngIf="false">
    <ion-list-header>
      Vorgeschlagene Kategorien
    </ion-list-header>
    <ion-item>
      <ion-label (click)="console.log('show suggested category');">
        Philosophie
      </ion-label>
      <button ion-button outline item-end (click)="console.log('adding suggested category');">Hinzufügen</button>
    </ion-item>
    <ion-item>
      <ion-label (click)="console.log('show suggested category');">
        Computer Science
      </ion-label>
      <button ion-button outline item-end (click)="console.log('adding suggested category');">Hinzufügen</button>
    </ion-item>
    <ion-item>
      <ion-label (click)="console.log('show suggested category');">
        Literatur
      </ion-label>
      <button ion-button outline item-end (click)="console.log('adding suggested category');">Hinzufügen</button>
    </ion-item>
  </ion-list>
  <ion-list padding-top *ngIf="settings">
    <ion-list-header>
      Konfiguration
    </ion-list-header>
    <ion-item>
      <ion-icon name="school" item-start></ion-icon>
      <ion-label>Algorythmisches Lernen</ion-label>
      <ion-toggle color="primary" [(ngModel)]="settings.algorithmicLearning" (ngModelChange)="settings.save()"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="false">
      <ion-icon name="settings" item-start></ion-icon>
      <ion-label>Automatisch synchronisieren</ion-label>
      <ion-toggle color="primary" [(ngModel)]="settings.synchronize" (ngModelChange)="settings.save()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="stats" item-start></ion-icon>
      <ion-label>Statistik anzeigen</ion-label>
      <ion-toggle color="primary" [(ngModel)]="settings.stats" (ngModelChange)="settings.save()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
