<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{category.name}} bearbeiten</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-fab bottom right>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="addCards()"><ion-icon name="create"></ion-icon></button>
      <button ion-fab (click)="importCards()"><ion-icon name="download"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <div class="details">
    <ion-card>
      <ion-card-header>
        {{category.name}}
      </ion-card-header>
      <ion-card-content>
        Meta informationen
      </ion-card-content>
    </ion-card>
    <ion-list margin-top *ngIf="cards?.length > 0">
      <ion-list-header>
        Lernkarten
      </ion-list-header>
      <ion-item *ngFor="let card of cards" (click)="cardSelected(card)">
        <h2>{{card.front}}</h2>
        <p>{{card.back}}</p>
      </ion-item>
    </ion-list>
    <p *ngIf="!cards" padding>
      Keine Lernkarten gefunden
    </p>
  </div>
</ion-content>
